doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta( http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='../bower_components/jquery/jquery.min.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='../bower_components/leaflet/dist/leaflet.js')
    script(src='../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js')
    script(src='/javascripts/helper.js')
  body
    block content